*{
    text-align: center;
}

#title{
    font-weight:bold;
    font-style:italic;
    color: red;
    font-family:'Courier New', 'Courier New', Courier, monospace;
    text-align: center;
}

.intro{
    margin: top;
    text-align:left;
    color:green;
    text-align: center;
}


